@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #204eaa; /* Dark Green */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spinloader 2s linear infinite;
}
.loader img{
  height : 150px;
  width : 150px;
  animation: spinlogo 2s linear infinite;
}
@keyframes spinloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spinlogo {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.header-img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  border-radius: 360px;
  background: #FFEDDC;
}

.header-img > img {
  margin: auto;
  width: 199px;
  height: 199px;
}

.project-img {
  width: 90%;
}

.project-img img:hover{
  cursor: pointer;
}

.blob.red {
  background:  #0d0e10;
  box-shadow: 0 0 0 0  #0d0e10;
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0  #0d0e10;
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}


@media(max-width: 600px) {
  .header-img {
    margin-top: 2rem;
  }
}